:root {
    /* === ПАЛИТРА === */
    --blue-700: #006FCB;
    --blue-600: #008BFE;
    --blue-100: #cce8ff;
    --gray-50: #F0F4F8;
    --gray-900: #222222;
    --white: #FFFFFF;
    --black: #000000;

    /* === ШРИФТ === */
    --font: "Roboto", sans-serif;
}

/* Глобальный reset */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--gray-50);
}